name: Deploy
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Build batch-json
        run: |
          cd batch-json
          cargo build --release -p batch-json

      - name: Set up ssh-agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.VPS_SSH_KEY }}

      - name: Upload binary
        run: |
          rsync -avz \
            -e "ssh -p ${{ secrets.VPS_PORT }} -o StrictHostKeyChecking=no" \
            ./batch-json/target/release/batch-json \
            tempest@${{ secrets.VPS_IP }}:/srv/waiting-time-batch/

      - name: Restart service
        run: |
          ssh -p ${{ secrets.VPS_PORT }} -o StrictHostKeyChecking=no \
            tempest@${{ secrets.VPS_IP }} \
            'sudo systemctl restart waiting-time-batch.service'
